<section class="container mt-3">
  <div class="row">
    <ocm-profile-nav class="col-md-3"></ocm-profile-nav>
    <div class="col-md-9" *ngIf="!isLoading">
      <h1 class="page-heading mt-0 mb-3">Shopping Lists</h1>
      <div class="row">
        <div class="col">
          <ul class="list-group mt-4" *ngIf="shoppingLists?.Items?.length">
            <a
              *ngFor="let list of shoppingLists?.Items"
              routerLink="/profile/shopping-lists/{{ list.ID }}"
              class="
                list-group-item list-group-item-action
                d-flex
                justify-content-between
                align-items-center
              "
            >
              {{ list?.xp?.ShoppingListName }}
              <span class="badge badge-primary badge-pill">{{
                list.LineItemCount
              }}</span>
            </a>
          </ul>
          <div
            class="card bg-light p-3 mx-4 w-100 text-center"
            *ngIf="!shoppingLists?.Items.length"
          >
            <p class="mb-0">It doesn't look like you have any shopping lists</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
